{% extends 'university/layout.html' %}

{% block title %}
    Удаление студента
{% endblock %}

{% block content %}
    <div class="features">
        <h1 style="color: #181818">Вы уверены, что хотите удалить студента {{ student.full_name }}?</h1>
        <form method="post">
            <span class="error">{{ error }}</span>
            <button class="btn btn-danger" type="submit">Удалить</button>
            <button class="btn btn-success" type="button" onclick="window.location.href='/students'">Отмена</button>
        </form>
    </div>
{% endblock %}